.header{
    color:red;
    width: auto;
    font-size: 50px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    text-decoration-color: aqua;
    margin: auto;
    border:aqua;
    border: 10px;
    
    
}
body{
    background-color: black;

}

.container1{
    background-image: URL('./pokedex.png');
    margin:auto;
    padding: 0;
    border:1px solid black;
    width: 850px;
    height: 650px;
    position: relative;
    


}

.header{
    display:flex;
  justify-content: center;

}




.screen{
    border:solid black;
    position: relative;
    background-color: antiquewhite;
    height: 10.3em;
    width: 15.5em;
    margin-top: 13.1em;
    margin-left: 6.4em;
    
}

#pokemon-image{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    right: 50px;
    top: 2px;
}
#lcd-screen{
    border:solid black;
    display:flex;
    position:relative;
    left:505px;
    bottom:192px;
    width: 250px;
    height:90px;
    right: 5px;
    font-family: 'Scientific Calculator LCD', sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
}


#card-image{
    width:100%;
    border-radius: 12px;
    height: 100%;
        object-fit: cover;
}


#container {
    max-width:  300px;
    margin: 0  auto;
    border: 1px solid #bacdd8;
    background-color: white;
    padding: 8px;
    border-radius: 12px;

}
.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  }
  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  .card__details {
   
    padding: 16px 8px 8px 8px;
  }
  #card-title{
    font-family: 'Pokemon Solid', sans-serif;
                                                
  }
  #flavor{
    font-family: 'Single Day', cursive;
  }
  #card-image{
      transition: .2s;

  }
  #card-image:hover{
     transform:  scale(1.1);
  }
  .like__btn{
      height: 40px;
      width: 100px;
      padding: 10px 15px;
      background: #0080ff;
      font-size: 14px;
      display: flex;
      font-family:'Pokemon Solid', sans-serif;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
  }