.header{
    color:red;
    width: auto;
    font-size: 500px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    text-decoration-color: aqua;
    margin: auto;
    border:aqua;
    border: 10px;
    
    
}